<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Practica Semana 5 BootStrap</title>

</head>
<body>

<h1>Hola mundo con HTML</h1>
<h2>Hola mundo con HTML</h2>
<h3>Hola mundo con HTML</h3>
<h4>Hola mundo con HTML</h4>
<h5>Hola mundo con HTML</h5>
<h6>Hola mundo con HTML</h6><br>

<h3>Etiquetas de parrafo y container</h3>
<p>H1 - H6 Hasta seis niveles de titulos y subtitulos. De máyor a menor tamaño</p>
<p>DIV permite dividir contenido en bloques</p>
<p>P Para mostrar texto plano</p><br>

<span>Etiqueta para textos cortos</span><br>
<h3>Etiquetas de hipervinculo</h3>
<a href="https://google.com">google</a><br>

<h3>Etiqueta y elementos de Formularios</h3>

<form>
    <input placeholder="Registre el Nombre" type="text"><br>
    <label>Registra el numero de cedula </label><input type="number"><br>
    <label>Seleccione hora y fecha </label><input type="datetime-local"><br>

    <label>Cumple requisito</label><br>
        <a>si<input type="radio" value="si"></a><br>
        <a>no<input type="radio" value="no"></a><br>

    <label>Seleccione Opcion</label><br>
        <input type="checkbox"><a>A</a><br>
        <input type="checkbox"><a>B</a><br>

    <textarea rows="10" cols="50" name="txt">ensayo</textarea><br>

    <label>Seleccionar</label>
        <select>
            <option value="opcion 1">Opcion 1</option>
            <option value="opcion 2">Opcion 2</option>
        </select><br>

    <label>Seleccionar el archivo</label><br>
    <input type="file"><br><br><br>


<main>
    <h1>BootStrap</h1>
    <div id="main" class="px-a py-5 my-5 text-center">
        <h2>Mi peimer landing page</h2>
        <img src="../static/img/tareas.png" class="d-block mx-auto mb-4" height="100" alt="ofrecemos disculpas, pagina en construcción">
        <h3 class="display-5 fw-bold">Gestión de Tareas</h3>
        <p>Parrafo</p>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">¿Qué es un párrafo?
                    Se denomina párrafo o parágrafo a las unidades de texto conformadas por un número finito de oraciones escritas secuencialmente, que abordan un mismo tema, en las que puede dividirse un documento cualquiera.
                    La palabra “párrafo” proviene del griego parágraphos, compuesto por el prefijo para- (“junto a”) y graphos (“escritura” o “letra”). Visto así, un párrafo no es más que el conjunto de escritura que va junta o que se corresponde a una unidad. Si las letras forman palabras, y las palabras forman oraciones, entonces las oraciones forman párrafos.
                    Todos los textos contienen párrafos, incluso si se trata de uno solo. Se reconocen fácilmente en los escritos porque inician con mayúsculas y finalizan con un punto y aparte. Usualmente terminan cuando una misma idea o perspectiva sobre un tema ha sido agotada por el autor, es decir, cuando ya no tiene nada más que añadir al respecto, y por eso abre un párrafo nuevo y continúa con otras ideas o perspectivas.
                    Fuente: https://concepto.de/parrafo/#ixzz7eUr0nP2R</p>

                <button type="button" class="btn btn-primary gtn-lg px4 gap-3">Botón 1</button>
                <button type="button" class="btn btn-outline-success gtn-lg px4 gap-3">Botón 2</button>

            </div>

    </div>
</main><br><br>

</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>